@model CR160471_Desafio01.Models.cuentabancaria

@{
    ViewBag.Title = "Ver";
}

<h2>Ver</h2>

<div>
    <h4>Cuentas bancarias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipocuentabancaria.tipocuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipocuentabancaria.tipocuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
